# DJANGO_SETTINGS_MODULE=admin.settings.local # This can change based on environment

DEBUG=True
# SITE_URL=http://127.0.0.1:8000

SITE_URL=http://54.183.29.97

POSTGRES_DB=onion
POSTGRES_USER=postgres
# POSTGRES_PASSWORD=iq!W%hC9IW19
# POSTGRES_HOST=audien-database-2.cqfijhwh62de.us-west-1.rds.amazonaws.com
POSTGRES_PORT=5432

REDIS_HOST='localhost'
REDIS_PORT='6379'

# POSTGRES_DB=onion
# POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID='AKIARVFO3OD2OGAXYLER'
AWS_SECRET_ACCESS_KEY='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'
AWS_SESSION_TOKEN=''
AWS_STORAGE_BUCKET_NAME='staging-podcast'
MP3_PATH='https://staging-podcast.s3.us-west-1.amazonaws.com/media/clips'
STREAMS_PATH='https://staging-podcast.s3.us-west-1.amazonaws.com/media/streams'
AWS_PUBLIC_BUCKET_URL='https://staging-podcast.s3.us-west-1.amazonaws.com/'

SENDGRID_API_KEY='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'

