DJANGO_SETTINGS_MODULE=admin.settings.local # This can change based on environment

DEBUG=True
SITE_URL=http://127.0.0.1:8000


REDIS_HOST='localhost'
REDIS_PORT='6379'

POSTGRES_DB=onion
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
