{% extends 'layouts/top.html' %}
{% load static %}
{% load custom_filters %}
{% block header %}
<title>Clients</title>
{% endblock %}
{% block style %}
<link href="{% static 'assets/css/user-profile.css' %}" rel="stylesheet" type="text/css" />
<style>
    .filter-block__right .side-by-side {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .task-form {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .table-design {
        background-color: #eceff6;
    }


/* Blur effect on background when modal is open */
.content.blur {
    filter: blur(5px);
}

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    width: 500px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
}

.input-with-icon .input-field {
    padding-left: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}

.footer-buttons .btn {
    margin-left: 5px;
}

.btn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn {
    background-color: #f0f0f0;
    color: #333;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
}

.custom-btn {
    background-color: #576f9a;
}

.custom-btn:hover {
    background-color: #3a4b68;
}

.survey-dropdown select {
  background-color: #ffffff;
  color: #202020;
  border-radius : 7px;
  padding: 10px;
  width: 185px;
  border: none;
  font-size: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.survey-dropdown::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.survey-dropdown:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.survey-dropdown select option {
  padding: 30px;
}
</style>
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="container-fluid" style="margin-top: 135px;">
        <div class="custom-tabination tab-area">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="activity" data-bs-toggle="tab"
                    data-bs-target="#activity-tab-pane" type="button" role="tab" aria-controls="activity-tab-pane"
                    aria-selected="true">Recent Activity</button>
            </li>
            <li class="nav-item" role="presentation" style="display: none">
                <button class="nav-link" id="upcoming-tasks" data-bs-toggle="tab"
                    data-bs-target="#upcoming-tasks-tab-pane" type="button" role="tab"
                    aria-controls="upcoming-tasks-tab-pane" aria-selected="false">Upcoming Tasks</button>
            </li>
            <li class="nav-item" role="presentation" style="display: none">
                <button class="nav-link" id="completed-tasks" data-bs-toggle="tab"
                    data-bs-target="#completed-tasks-tab-pane" type="button" role="tab"
                    aria-controls="completed-tasks-tab-pane" aria-selected="false">Done</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="activity-tab-pane" role="tabpanel"
                aria-labelledby="activity-tab" tabindex="0">

                {% if questionnaires %}
                <div class="filter-block">
                    <div class="filter-block__left">
                    </div>
                    <div class="filter-block__right">
                        <form method="GET">
                            <div id="div_id_search" class="form-group">
                                <div style="display: flex; gap: 20px;">
                                    <div class="survey-dropdown">
                                        <label for="survey">Filter by Surveys: </label>
                                        <select id="survey">
                                            <option value="all">All</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <table id="survey-table" class="table" style="background-color: #eceff6 !important">
                    <thead>
                        <tr>
                            <th class="table-head" style="padding-left: 25px;">Activity</th>
                            <th class="table-head">Changes?</th>
                            <th class="table-head">Client</th>
                            <th class="table-head" style="padding-left: 25px;">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionnaire in questionnaires %}
                        <tr>
                            <td style="padding-left: 25px;" class="table-td">Survey answered</td>
                            {% if questionnaire.is_completed %}
                            <td style="padding-left: 25px;" class="table-td row-items status">Yes</td>
                            {% else %}
                            <td style="padding-left: 25px;" class="table-td status">No</td>
                            {% endif %}
                            <td class="table-td"><a style="text-decoration: none;" href="{% url 'user_detail' questionnaire.user.id %}">{{questionnaire.user}}</a></td>
                            {% if questionnaire.is_completed %}
                            <td style="padding-left: 25px;" class="table-td">{{questionnaire.test_date|date:"m/d/Y"}}</td>
                            {% else %}
                            <td style="padding-left: 25px;" class="table-td">{{questionnaire.created_at|date:"m/d/Y"}}</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">No Surveys Available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Questionnaire Pagination -->
                {% if is_paginated %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?page={{ page_obj.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li
                            class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <!-- End Questionnaire Pagination -->

            <div class="tab-pane fade" id="upcoming-tasks-tab-pane" role="tabpanel" aria-labelledby="upcoming-tasks-tab"
                tabindex="0">
                <div class="filter-block">
                    <div class="filter-block__left">
                    </div>
                    <div class="filter-block__right add_task row">
                        <div class="side-by-side">
                            <button class="addTaskBtn btn btn-primary btn-md align-middle btn-block custom-btn">Add Task
                            </button>
                            <form method="GET" class="task-form">
                                <div id="pen_task_id_search" class="form-group">
                                    <div style="display: flex; gap: 20px;">
                                        <input type="text" name="search" placeholder="Filter by tasks"
                                            class="textinput textInput form-control" id="id_search_pen_task">
                                        <button
                                            class="btn btn-primary btn-md align-middle btn-block custom-btn">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="table-design">
                            <th class="table-head " style="padding-left: 25px;">Task</th>
                            <th class="table-head">Client</th>
                            <th class="table-head" style="padding-left: 25px;">Due Date</th>
                            <th class="table-head" style="padding-left: 25px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pe_task in pending_tasks %}
                        <tr>
                            <td style="padding-left: 25px;" class="table-td">{{pe_task.name}}</td>
                            <td class="table-td">{{pe_task.client}}</td>
                            <td style="padding-left: 25px;" class="table-td due-date">{{pe_task.due_date|date:"m/d/Y"}}</td>
                            <td style="padding-left: 25px;" class="table-td">
                                <a style="cursor: pointer;" data-value="{{pe_task.id}}" class="correct-symbol"><svg width="21" height="21" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 19L3 12.5L4.5 11L9 15.5L20 5L21.5 6.5L9 19Z" fill="currentColor"/>
                                </svg></a>
                                <a style="cursor: pointer;" data-value="{{pe_task.id}}" class="edit-task">
                                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1 1 0 0 0 0-1.41l-2.34-2.34a1 1 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" 
                                          fill="currentColor" />
                                      </svg>
                                      
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">No data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pending tasks Pagination -->
                {% if is_paginated %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?page={{ page_obj.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li
                            class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="completed-tasks-tab-pane" role="tabpanel" aria-labelledby="completed-tasks-tab"
                tabindex="0">
                {% if completed_tasks %}
                <div class="filter-block">
                    <div class="filter-block__left">
                    </div>
                    <div class="filter-block__right">
                        <form method="GET">
                            <div id="com_task_id_search" class="form-group">
                                <div style="display: flex; gap: 20px;">
                                    <input type="text" name="search" placeholder="Filter by tasks"
                                        class="textinput textInput form-control" id="id_search_pen_com">
                                    <button
                                        class="btn btn-primary btn-md align-middle btn-block custom-btn">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-head" style="padding-left: 25px;">Task</th>
                            <th class="table-head">Client</th>
                            <th class="table-head" style="padding-left: 25px;">Closed On</th>
                            <th class="table-head" style="padding-left: 25px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for co_task in completed_tasks %}
                        <tr>
                            <td style="padding-left: 25px;" class="table-td">{{co_task.name}}</td>
                            <td class="table-td">{{co_task.client}}</td>
                            <td style="padding-left: 25px;" class="table-td">{{co_task.completed_on|date:"m/d/Y"}}</td>
                            <td style="padding-left: 25px;" class="table-td">
                                <a style="cursor: pointer;" data-value="{{co_task.id}}" class="uncorrect-symbol"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                  </svg>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">No Completed Tasks Available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pending tasks Pagination -->
                {% if is_paginated %}
                <div aria-label="Page navigation" style="float:right;"
                    class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous">
                            <a href="?page={{ page_obj.previous_page_number }}"
                                class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li
                            class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button page-item next disabled">
                                <a href="#" class="page-link">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
                {% endif %}
                <br><br>
            </div>
        </div>
    </div>
    </div></div>
<div id="userModal" class="custom-modal">
    <div class="modal-content">
        <form id="taskForm" method="POST" action="{% url 'create_task' %}">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label for="client">Clients</label>
                <div class="name-fields">
                    <select required id="client" class="input-field" name="client">
                        <option>--Select a client--</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="task">Task Name</label>
                <div class="name-fields">
                    <input required type="text" name="task_name" id="task" class="input-field">
                </div>
            </div>
            <div class="form-group">
                <label for="due">Due Date</label>
                <div class="input-with-icon">
                    <input required type="date" name="due_date" id="due" class="input-field">
                </div>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <div class="input-with-icon">
                    <input type="text" name="details" id="details" class="input-field">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="footer-buttons">
                <button class="btn cancel-btn">Cancel</button>
                <button type="submit" class="btn save-btn">Save changes</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {

    $('#survey').change(function() {
        var filterValue = $(this).val();

        // Show all rows initially
        $('#survey-table tbody tr').show();

        if (filterValue === 'yes') {
            $('#survey-table tbody tr').filter(function() {
                return $(this).find('.status').text().toLowerCase() !== 'yes';
            }).hide();
        } else if (filterValue === 'no') {
            $('#survey-table tbody tr').filter(function() {
                return $(this).find('.status').text().toLowerCase() !== 'no';
            }).hide();
        }
        // If "all" is selected, all rows will remain visible
    });

    const urlParams = new URLSearchParams(window.location.search);
    const done = urlParams.get('done');

    // Remove the 'active' class from all tabs initially
    $('.nav-link').removeClass('active');

    // Set the active class based on the 'done' parameter
    if (done === 'true') {
        $('#upcoming-tasks').addClass('active').attr("aria-selected", "true");
        $('#upcoming-tasks-tab-pane').addClass('show active');
        $('#activity-tab-pane').removeClass('active');
    } else if (done === 'false') {
        $('#completed-tasks').addClass('active').attr("aria-selected", "true");
        $('#completed-tasks-tab-pane').addClass('show active');
        $('#activity-tab-pane').removeClass('active');
        $('#upcoming-tasks-tab-pane').removeClass('active');
    } else {
        $('#activity').addClass('active').attr("aria-selected", "true");
        $('#activity-tab-pane').addClass('show active');
    }

    const addTaskBtn = $(".addTaskBtn");
    const modal = $("#modal");
    const closeModal = $("#closeModal");
    const content = $(".content");

    $(".addTaskBtn").on("click", function() {
        $("#userModal").css("display", "flex");
    });

    $(".cancel-btn").on("click", function() {
        $("#userModal").css("display", "none");
    });

    // Close modal if clicking outside the content
    $(window).on("click", function(event) {
        if ($(event.target).is("#userModal")) {
            $("#userModal").css("display", "none");
        }
    });

    $('.correct-symbol').click(function(){
        task_id = $(this).attr("data-value")
        $.ajax({
            url: "{% url 'complete_task' %}",
            type: 'POST',
            data: {
                "task_id": task_id,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            success: function(response) {
                location.href = window.location.pathname + "?done=false";
            }
        });
    })

    $('.uncorrect-symbol').click(function(){
        task_id = $(this).attr("data-value")
        $.ajax({
            url: "{% url 'uncomplete_task' %}",
            type: 'POST',
            data: {
                "task_id": task_id,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            success: function(response) {
                location.href = window.location.pathname + "?done=true";
            }
        });
    })

    $('.edit-task').on('click', function() {
        var currentDate = $('.due-date').text();
        var task_id = $(this).attr('data-value');
        // var dob = '{{user.date_of_birth}}'
        var parts = currentDate.split('/');
        var formattedDate = parts[2] + '-' + parts[0].padStart(2, '0') + '-' + parts[1].padStart(2, '0');

        $('.due-date').replaceWith('<td class="td-due"><input type="date" id="editDueDate" value="' + formattedDate + '" />' + '<button class="custom-btn" style="margin-left:4px; color: white;" task-id=' + task_id + ' type="button" class="btn btn-success" id="saveDueDate">Save</button></td>');
    });

    $(document).on('click', '#saveDueDate', function() {
        var updated_date = $('#editDueDate').val();
        var task_id = $(this).attr('task-id');

        $.ajax({
            url: "{% url 'edit_task' %}",
            type: 'POST',
            data: {
                'updated_due_date': updated_date,
                'task_id': task_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {

                var updatedDue = response['due_date']

                $('.td-due').replaceWith('<td style="padding-left: 25px;" class="table-td due-date">' + updatedDue + '</td>');
                  
            }
        });
    });
});
</script>
{% endblock %}